.container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.725rem;
  border-radius: 10px;
  border: 3px solid #dfc1e3;
  width: 25vw;
  height: 60vh;
  box-shadow: 1px 2px 3px #8928a8;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5em;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0 auto;
  padding: 0.5rem;
  color: #6d767f;
  text-shadow: 2px 3px 3px #466686;
}
.card p {
  font-size: 20px;
  font-weight: 400;
  color: #454749;
}
.card span {
  font-weight: 500;
}
.card a {
  color: black;
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
}
.mapBtn {
  margin: 0 0.525rem;
  padding: 0.725rem 1rem;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  outline: 2px solid #947899;
  cursor: pointer;
}
.mapBtn2 {
  background: #8928a8;
  color: #fbb0ff;
}
