.navbar {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}
.logo {
  text-transform: uppercase;
  color: #61c0b8;
  font-size: large;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  margin: 0 2rem;
  font-size: 18px;
  text-transform: uppercase;
}
.navbar li:hover {
  color: #61c0b8;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.searchBar {
  width: 20vw;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchBar input,
button {
  margin: 0 0.525rem;
  padding: 0.725rem 1rem;
  border-radius: 10px;
  font-size: 15px;
}
.btn {
  cursor: pointer;
  background-color: #04aa6d;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  border: none;
  padding: 0.725rem 2rem;
  letter-spacing: 2px;
}
.btn:hover {
  background-color: #0bc782;
}

.list {
  position: relative;
}

.list ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 31%;
  top: 70%;
  background-color: #282c34;
}
.dropdown-menu {
  display: none;
}
.dropdown-menu ul {
  display: block;

  margin: 10px;
}

.dropdown-menu ul li {
  width: 150px;
  padding: 10px;
  color: white;
}
